@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
body{
    margin: 0;
    font-family: Roboto, Verdana, Tahoma, sans-serif;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header-container{
    flex: 0 1 930px;
    padding: 15px 30px 80px 30px;
}

.logo-nav-container,
.content-container{
    display: flex;
}

.logo-nav-container{
    justify-content: space-between;
}

.content-container{
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-right: 40px;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section1{
    flex: 0 1 425px;
}

.section2{
    background-color: #384a63;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    flex: 0 1 455px;
}

.section1 h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #F9FAF8;
}

.section1 p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0 16px;
}

.sign-up-button{
    padding: 12px 20px;
    color: white;
    background-color: #3882F6;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 700;
}

.gallery h2{
    font-size: 32px;
    font-weight: 900;
    color: #1F2037;
    text-align: center;
    padding: 0 20px;
}

.gallery-container{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    padding: 0 35px 35px 35px;
    margin-top: 45px;
}

.gallery-container .item{
    flex: 0 0 130px;
    text-align: center;
}

.img-placeholder{
    height: 130px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 30px;
}

.quote-container{
    flex: 0 1 540px;
}

.quote-container p:first-child{
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    margin: 0;
}

.quote-container p:last-child{
    font-weight: 700;
    text-align: right;
}

.sign-up-section{
    padding: 65px;
    display: flex;
    justify-content: center;
}
.sign-up-container{
    /*width: 930px;*/
    flex: 0 1 930px;
    background-color: #3882F6;
    padding: 35px 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sign-up-text p{
    color: white;
    margin: 0;
}

.sign-up-text p:first-child{
    font-weight: 700;
}

.sign-up-section .sign-up-button{
    padding: 10px 18px;
    border: 2px solid white;
}